<template>
    <div>
        <v-container grid-list-md text-xs-center class="pt-0">
            <v-layout row wrap>
            <v-flex md6>
                <v-card flat>
                    <v-card-text class="px-0">
                        <h1 class="text-xs-left">Create Campagin</h1>
                        <p class="text-xs-left"><strong>(Optional) Any Additional Sub Heading Goes here... </strong></p>
                    </v-card-text>
                </v-card>
                <v-flex xs1 class="adSettings sprint-tooltip setting-tip" pt-5>
                    <v-tooltip bottom color="orange darken-2">
                        <v-icon
                                slot="activator"
                                color="orange darken-2"
                                dark
                        >whatshot</v-icon>
                        <span>You can create a sprint to promote your best-selling products, a specific collection or ones with a specific tag!</span>
                    </v-tooltip>
                    <v-btn icon @click="" class="mt-0"><v-icon color="blue darken-1">school</v-icon></v-btn>
                </v-flex>
            </v-flex>
        </v-layout>
            <v-stepper v-model="e1" class="">
            <v-stepper-header>
                <v-stepper-step color="primary" editable :complete="e1 > 1" step="1">Campaign Objective</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step color="primary" editable :complete="e1 > 2" step="2">Audience</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step color="primary" editable :complete="e1 > 3" step="3">Ads</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step color="primary" editable :complete="e1 > 4" step="4">Placement</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step color="primary" editable :complete="e1 > 5" step="5">Budget & Schedule</v-stepper-step>

            </v-stepper-header>

            <v-stepper-items>
                <v-stepper-content step="1">
                    <v-card class="mb-5" flat>
                        <v-layout row wrap>
                            <v-flex md4 mb-2>
                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Campaign Objective:</label>
                                <v-select
                                        :items="compObjective"
                                        label="Select Level"
                                        solo
                                        outline
                                        hide-details
                                        flat
                                        class="app-text-field"
                                ></v-select>
                            </v-flex>
                            <v-flex md4 mb-2>
                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Campaign Name:</label>
                                <v-text-field
                                        label="Enter Name"
                                        single-line
                                        outline
                                        class="app-text-field right"
                                        style="width:100%"
                                        hide-details
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-btn class="left ma-0 pl-1 pa-0 text-capitalize" color="primary" @click="showAddCon" flat depressed style="font-size:16px">
                                    Additional Conversions
                                    <v-icon color="primary" v-if="!isAddConversion" class="ml-2">
                                        keyboard_arrow_down
                                    </v-icon>
                                    <v-icon color="primary" v-else class="ml-2">
                                        keyboard_arrow_up
                                    </v-icon>
                                </v-btn>
                            </v-flex>
                            <v-layout row wrap v-if="isAddConversion" class="px-2">
                                <v-flex xs12>
                                    <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Conversion:</label>
                                    <p class="font-weight-light text-xs-left mb-0">Choose where you want to drive traffic, then select a pixel or event to track conversions. If you don't have a pixel or event, you'll see instructions for creating one.</p>
                                </v-flex>
                                <v-flex md4 mb-2>
                                    <v-radio-group v-model="radioGroup" @change="getValue">
                                        <v-radio
                                                label="Website"
                                                value="website"
                                                color="primary"
                                        ></v-radio>
                                        <v-flex xs12 mb-2 pl-5 v-if="conversionValue == 'website'">
                                            <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Pixel Events:</label>
                                            <v-select
                                                    :items="pixelEvent"
                                                    label="Select Event"
                                                    solo
                                                    outline
                                                    hide-details
                                                    flat
                                                    class="app-text-field inside-radio-select"
                                            ></v-select>
                                        </v-flex>
                                        <v-radio
                                                label="App"
                                                value="app"
                                                color="primary"
                                        ></v-radio>
                                        <v-flex xs12 mb-2 pl-5 v-if="conversionValue == 'app'">
                                            <label class="text-xs-left mb-1" style="display: block; font-size: 16px">App Name:</label>
                                            <v-select
                                                    :items="appSelection"
                                                    label="Select App"
                                                    solo
                                                    outline
                                                    hide-details
                                                    flat
                                                    class="app-text-field inside-radio-select"
                                            ></v-select>
                                        </v-flex>
                                        <v-radio
                                                label="Messenger"
                                                value="messenger"
                                                color="primary"
                                        ></v-radio>
                                        <v-flex xs12 mb-2 pl-5 v-if="conversionValue == 'messenger'">
                                            <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Pixel Events:</label>
                                            <v-select
                                                    :items="messengerEvent"
                                                    label="Select Event"
                                                    solo
                                                    outline
                                                    hide-details
                                                    flat
                                                    class="app-text-field inside-radio-select"
                                            ></v-select>
                                        </v-flex>
                                        <v-radio
                                                label="WhatsApp"
                                                value="whatsapp"
                                                color="primary"
                                        ></v-radio>
                                        <v-flex xs12 mb-2 pl-5 v-if="conversionValue == 'whatsapp'">
                                            <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Pixel Events:</label>
                                            <v-select
                                                    :items="whatsAppEvent"
                                                    label="Select Event"
                                                    solo
                                                    outline
                                                    hide-details
                                                    flat
                                                    class="app-text-field inside-radio-select"
                                            ></v-select>
                                        </v-flex>
                                    </v-radio-group>
                                </v-flex>
                            </v-layout>
                        </v-layout>


                        <v-btn
                                flat
                                class="appCta primary right mt-5"
                                @click="e1 = 2"
                        >
                            Continue
                            <v-icon right class="ml-1">arrow_right</v-icon>
                        </v-btn>
                    </v-card>
                </v-stepper-content>

                <v-stepper-content step="2">
                    <v-card class="mb-5" flat>
                        <v-layout row wrap>
                            <v-flex md4 mb1>
                                <label class="text-xs-left mb-2 font-weight-bold" style="display: block; font-size: 16px">Custom Audience:</label>
                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Include:</label>
                                <v-select
                                        :items="IncludeAudience"
                                        chips
                                        label="Include Audience"
                                        multiple
                                        solo
                                        hide-details
                                        outline
                                        flat
                                        class="app-text-field"
                                ></v-select>
                                <v-btn small class="left ma-0 pl-1 pa-0 text-capitalize" color="primary" @click="showExcludeAud" flat depressed style="font-size:14px">
                                    Exclude
                                    <v-icon color="primary" v-if="!IsExclude" class="ml-2">
                                        keyboard_arrow_down
                                    </v-icon>
                                    <v-icon color="primary" v-else class="ml-2">
                                        keyboard_arrow_up
                                    </v-icon>
                                </v-btn>
                                <v-select
                                        :items="ExcludeAudience"
                                        chips
                                        label="Exclude Audience"
                                        multiple
                                        solo
                                        hide-details
                                        outline
                                        flat
                                        class="app-text-field mt-4"
                                        style="display:block"
                                        v-if="IsExclude"
                                ></v-select>
                            </v-flex>
                            <v-flex md4 mb1>
                                <label class="text-xs-left mb-2 font-weight-bold" style="display: block; font-size: 16px">Locations:</label>
                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Include:</label>
                                <v-select
                                        :items="IncludeLocations"
                                        chips
                                        label="Include Locations"
                                        multiple
                                        solo
                                        hide-details
                                        outline
                                        flat
                                        class="app-text-field"
                                ></v-select>
                                <v-btn small class="left ma-0 pl-1 pa-0 text-capitalize" color="primary" @click="showExcludeLoc" flat depressed style="font-size:14px">
                                    Exclude
                                    <v-icon color="primary" v-if="!IsExcludeLoc" class="ml-2">
                                        keyboard_arrow_down
                                    </v-icon>
                                    <v-icon color="primary" v-else class="ml-2">
                                        keyboard_arrow_up
                                    </v-icon>
                                </v-btn>
                                <v-select
                                        :items="ExcludeLocations"
                                        chips
                                        label="Exclude Locations"
                                        multiple
                                        solo
                                        hide-details
                                        outline
                                        flat
                                        class="app-text-field mt-4"
                                        style="display:block"
                                        v-if="IsExcludeLoc"
                                ></v-select>
                            </v-flex>
                            <v-flex md3 mb1>
                                <label class="text-xs-left mb-1 font-weight-bold" style="display: block; font-size: 16px">Age Range:</label>
                                <v-layout row wrap>
                                    <v-flex xs6>
                                        <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Age From:</label>
                                        <v-select
                                                :items="ageFrom"
                                                label="Select Range"
                                                solo
                                                hide-details
                                                outline
                                                flat
                                                class="app-text-field"
                                        ></v-select>
                                    </v-flex>
                                    <v-flex xs6>
                                        <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Age To:</label>
                                        <v-select
                                                :items="ageTo"
                                                label="Select Range"
                                                solo
                                                hide-details
                                                outline
                                                flat
                                                class="app-text-field"
                                        ></v-select>
                                    </v-flex>
                                </v-layout>

                            </v-flex>
                        </v-layout>
                        <v-layout row wrap class="mt-3">
                            <v-flex md4 mb1>
                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Interest:</label>
                                <v-text-field
                                        label="Type Your Interest Here.."
                                        single-line
                                        outline
                                        class="app-text-field"
                                        style="width:100%"
                                        hide-details
                                ></v-text-field>
                            </v-flex>
                            <v-flex md3 mb1>
                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Gender:</label>
                                <v-select
                                        :items="genderListed"
                                        label="Select Gender"
                                        solo
                                        hide-details
                                        outline
                                        flat
                                        class="app-text-field"
                                ></v-select>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap>
                            <v-flex xs12>
                                <v-btn class="left ma-0 pa-0 text-capitalize" color="primary" @click="showAddSettings" flat depressed style="font-size:16px">
                                    Additional Settings
                                    <v-icon color="primary" v-if="!isAddSettings" class="ml-2">
                                        keyboard_arrow_down
                                    </v-icon>
                                    <v-icon color="primary" v-else class="ml-2">
                                        keyboard_arrow_up
                                    </v-icon>
                                </v-btn>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap v-if="isAddSettings">
                            <v-flex md4 mb1>
                                <label class="text-xs-left mb-1 pl-1" style="display: block; font-size: 16px">Languages:</label>
                                <v-select
                                        :items="listedLang"
                                        chips
                                        label="Select Language(s)"
                                        multiple
                                        solo
                                        hide-details
                                        outline
                                        flat
                                        class="app-text-field"
                                ></v-select>
                            </v-flex>
                            <v-flex md4 mb1>
                                <label class="text-xs-left mb-1 pl-1" style="display: block; font-size: 16px">Detailed Targeting:</label>
                                <v-select
                                        :items="IncludeTargeting"
                                        chips
                                        label="Include Audience"
                                        multiple
                                        solo
                                        hide-details
                                        outline
                                        flat
                                        class="app-text-field"
                                ></v-select>
                                <v-btn small class="left ma-0 pl-1 pa-0 text-capitalize" color="primary" @click="showExcludeTarget" flat depressed style="font-size:14px">
                                    Exclude
                                    <v-icon color="primary" v-if="!IsExcludeTarget" class="ml-2">
                                        keyboard_arrow_down
                                    </v-icon>
                                    <v-icon color="primary" v-else class="ml-2">
                                        keyboard_arrow_up
                                    </v-icon>
                                </v-btn>
                                <v-select
                                        :items="ExcludeTargeting"
                                        chips
                                        label="Exclude Audience"
                                        multiple
                                        solo
                                        hide-details
                                        outline
                                        flat
                                        class="app-text-field mt-4"
                                        style="display:block"
                                        v-if="IsExcludeTarget"
                                ></v-select>
                            </v-flex>
                        </v-layout>
                    </v-card>

                    <v-btn
                            flat
                            class="appCta primary right"
                            @click="e1 = 3"
                    >
                        Continue
                        <v-icon right class="ml-1">arrow_right</v-icon>
                    </v-btn>
                </v-stepper-content>

                <v-stepper-content step="3">
                    <v-card class="mb-5" flat>

                        <v-layout row wrap>
                            <v-flex xs12>
                                <label class="text-xs-left font-weight-bold" style="display: block; font-size: 16px">Select Identity:</label>
                            </v-flex>
                            <v-flex md4 mb1>
                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Facebook:</label>
                                <v-select
                                        :items="listedFbPages"
                                        label="Select Fb Page"
                                        solo
                                        hide-details
                                        outline
                                        flat
                                        class="app-text-field"
                                ></v-select>
                            </v-flex>
                            <v-flex md4 mb1>
                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Instagram:</label>
                                <v-select
                                        :items="listedInstaAccounts"
                                        label="Select Instagram Account"
                                        solo
                                        hide-details
                                        outline
                                        flat
                                        class="app-text-field"
                                ></v-select>
                            </v-flex>
                            <v-flex xs12 mt-2>
                                <v-layout row wrap>
                                    <v-flex md6>
                                        <label class="text-xs-left font-weight-bold" style="display: block; font-size: 16px">Ad Settings:</label>
                                        <v-flex md8 mb1>
                                            <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Format & Media:</label>
                                            <v-select
                                                    :items="listedFormat"
                                                    label="Select Ad Format"
                                                    solo
                                                    hide-details
                                                    outline
                                                    flat
                                                    class="app-text-field"
                                                    v-model="selectedAdFormat"
                                            ></v-select>
                                        </v-flex>
                                        <v-flex xs12 v-if="selectedAdFormat == 'Carousel'">
                                            <label class="pl-3 py-2 text-xs-left mb-3 primary white--text" style="display: block; font-size: 18px">Carousel Settings:</label>
                                            <v-layout row warp class="pl-1">
                                                <v-flex pa-0 xs1 v-for="(slides,index) in carouselSlides" :key="index" class="listed-slides-number" :class="{activeSlide : slides.isSelected}">
                                                    <v-btn class="grey lighten-2 ma-0" flat depressed block style="min-width: auto;border-radius:0" @click="makeActiveSlide(index)">
                                                        {{index + 1}}
                                                    </v-btn>
                                                </v-flex>
                                                <v-flex xs1 pa-0>
                                                    <v-btn flat depressed icon class="ma-0 border primary" @click="addCarouselSlide">
                                                        <v-icon>add</v-icon>
                                                    </v-btn>
                                                </v-flex>
                                            </v-layout>
                                            <v-layout row wrap>
                                                <v-flex xs12 v-for="(slides,index) in carouselSlides" :key="index" v-if="slides.isSelected" class="mt-2">
                                                    <v-layout row wrap class="mt-2">
                                                        <v-flex md4 mb1>
                                                            <label class="text-xs-left" style="display: block; font-size: 16px">Slide Image:</label>
                                                            <v-btn flat depressed block class="grey lighten-2 ma-0 left">
                                                                Upload
                                                                <v-icon class="ml-2">
                                                                    cloud_upload
                                                                </v-icon>
                                                            </v-btn>
                                                        </v-flex>
                                                        <v-flex md8>
                                                            <v-btn flat depressed icon class="mt-4 border grey right lighten-2" @click="removeCarouselSlide(index)">
                                                                <v-icon>remove</v-icon>
                                                            </v-btn>
                                                        </v-flex>
                                                    </v-layout>
                                                    <v-layout row wrap class="mt-2">
                                                        <v-flex md6 mb1>
                                                            <label class="text-xs-left" style="display: block; font-size: 16px">Headline:</label>
                                                            <v-text-field
                                                                    label="Enter Headline"
                                                                    single-line
                                                                    outline
                                                                    class="app-text-field right"
                                                                    style="width:100%"
                                                                    hide-details
                                                                    :value="slides.slideHeadline"
                                                                    v-model="slides.slideHeadline"
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex md6 mb1>
                                                            <label class="text-xs-left" style="display: block; font-size: 16px">Description(Optional):</label>
                                                            <v-text-field
                                                                    label="Enter Description"
                                                                    single-line
                                                                    outline
                                                                    class="app-text-field right"
                                                                    style="width:100%"
                                                                    hide-details
                                                                    :value="slides.slideDescription"
                                                                    v-model="slides.slideDescription"
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12>
                                                            <v-btn class="left ma-0 pl-1 pa-0 text-capitalize" color="primary" @click="showAddCarousel" flat depressed style="font-size:16px">
                                                                Additional Settings
                                                                <v-icon color="primary" v-if="!isAddCarousel" class="ml-2">
                                                                    keyboard_arrow_down
                                                                </v-icon>
                                                                <v-icon color="primary" v-else class="ml-2">
                                                                    keyboard_arrow_up
                                                                </v-icon>
                                                            </v-btn>
                                                        </v-flex>
                                                        <v-layout row wrap v-if="isAddCarousel" class="pl-2">
                                                            <v-flex md6 mb1>
                                                                <label class="text-xs-left" style="display: block; font-size: 16px">Display Link(Optional):</label>
                                                                <v-text-field
                                                                        label="Enter DL"
                                                                        single-line
                                                                        outline
                                                                        class="app-text-field"
                                                                        style="width:100%"
                                                                        hide-details
                                                                ></v-text-field>
                                                            </v-flex>
                                                            <v-flex md6 mb1>
                                                                <label class="text-xs-left" style="display: block; font-size: 16px">Link Description:</label>
                                                                <v-text-field
                                                                        label="Enter Description"
                                                                        single-line
                                                                        outline
                                                                        class="app-text-field"
                                                                        style="width:100%"
                                                                        hide-details
                                                                ></v-text-field>
                                                            </v-flex>
                                                            <v-flex md6 mb1>
                                                                <label class="text-xs-left" style="display: block; font-size: 16px">URL Params (Optional):</label>
                                                                <v-text-field
                                                                        label="Enter Params"
                                                                        single-line
                                                                        outline
                                                                        class="app-text-field"
                                                                        style="width:100%"
                                                                        hide-details
                                                                ></v-text-field>
                                                            </v-flex>
                                                            <v-flex md6 mb1>
                                                                <label class="text-xs-left" style="display: block; font-size: 16px">Facebook Pixel:</label>
                                                                <v-select
                                                                        :items="listedFbPixels"
                                                                        label="Select Ad Format"
                                                                        solo
                                                                        hide-details
                                                                        outline
                                                                        flat
                                                                        class="app-text-field"
                                                                ></v-select>
                                                            </v-flex>
                                                        </v-layout>
                                                    </v-layout>
                                                </v-flex>
                                            </v-layout>

                                        </v-flex>
                                        <v-flex xs12 v-if="selectedAdFormat == 'Single Image'">
                                            <label class="pl-3 py-2 text-xs-left mt-2 primary white--text" style="display: block; font-size: 18px">Single Image Settings:</label>
                                            <v-layout row wrap>
                                                <v-flex xs12>
                                                    <v-layout row wrap class="mt-2">
                                                        <v-flex md4 mb1>
                                                            <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Images:</label>
                                                            <v-btn flat depressed block class="grey lighten-2 ma-0 left">
                                                                Upload
                                                                <v-icon class="ml-2">
                                                                    cloud_upload
                                                                </v-icon>
                                                            </v-btn>
                                                        </v-flex>
                                                    </v-layout>
                                                    <v-layout row wrap class="mt-2">
                                                        <v-flex md6 mb1>
                                                            <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Headline:</label>
                                                            <v-text-field
                                                                    label="Enter Headline"
                                                                    single-line
                                                                    outline
                                                                    class="app-text-field right"
                                                                    style="width:100%"
                                                                    hide-details
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex md6 mb1>
                                                            <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Description(Optional):</label>
                                                            <v-text-field
                                                                    label="Enter Description"
                                                                    single-line
                                                                    outline
                                                                    class="app-text-field right"
                                                                    style="width:100%"
                                                                    hide-details
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12>
                                                            <v-btn class="left ma-0 pl-1 pa-0 text-capitalize" color="primary" @click="showAddCarousel" flat depressed style="font-size:16px">
                                                                Additional Settings
                                                                <v-icon color="primary" v-if="!isAddCarousel" class="ml-2">
                                                                    keyboard_arrow_down
                                                                </v-icon>
                                                                <v-icon color="primary" v-else class="ml-2">
                                                                    keyboard_arrow_up
                                                                </v-icon>
                                                            </v-btn>
                                                        </v-flex>
                                                        <v-layout row wrap v-if="isAddCarousel" class="pl-2">
                                                            <v-flex md6 mb1>
                                                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Display Link(Optional):</label>
                                                                <v-text-field
                                                                        label="Enter DL"
                                                                        single-line
                                                                        outline
                                                                        class="app-text-field"
                                                                        style="width:100%"
                                                                        hide-details
                                                                ></v-text-field>
                                                            </v-flex>
                                                            <v-flex md6 mb1>
                                                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Link Description:</label>
                                                                <v-text-field
                                                                        label="Enter Description"
                                                                        single-line
                                                                        outline
                                                                        class="app-text-field"
                                                                        style="width:100%"
                                                                        hide-details
                                                                ></v-text-field>
                                                            </v-flex>
                                                            <v-flex md6 mb1>
                                                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">URL Params (Optional):</label>
                                                                <v-text-field
                                                                        label="Enter Params"
                                                                        single-line
                                                                        outline
                                                                        class="app-text-field"
                                                                        style="width:100%"
                                                                        hide-details
                                                                ></v-text-field>
                                                            </v-flex>
                                                            <v-flex md6 mb1>
                                                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Facebook Pixel:</label>
                                                                <v-select
                                                                        :items="listedFbPixels"
                                                                        label="Select Ad Format"
                                                                        solo
                                                                        hide-details
                                                                        outline
                                                                        flat
                                                                        class="app-text-field"
                                                                ></v-select>
                                                            </v-flex>
                                                        </v-layout>
                                                    </v-layout>
                                                </v-flex>
                                            </v-layout>

                                        </v-flex>
                                        <v-flex xs12 v-if="selectedAdFormat == 'Single Video'">
                                            <label class="pl-3 py-2 text-xs-left mt-2 primary white--text" style="display: block; font-size: 18px">Single Video Settings:</label>
                                            <v-layout row wrap>
                                                <v-flex xs12>
                                                    <v-layout row wrap class="mt-2">
                                                        <v-flex md4 mb1>
                                                            <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Video:</label>
                                                            <v-btn flat depressed block class="grey lighten-2 ma-0 left">
                                                                Upload
                                                                <v-icon class="ml-2">
                                                                    cloud_upload
                                                                </v-icon>
                                                            </v-btn>
                                                        </v-flex>
                                                    </v-layout>
                                                    <v-layout row wrap class="mt-2">
                                                        <v-flex md6 mb1>
                                                            <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Headline:</label>
                                                            <v-text-field
                                                                    label="Enter Headline"
                                                                    single-line
                                                                    outline
                                                                    class="app-text-field right"
                                                                    style="width:100%"
                                                                    hide-details
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex md6 mb1>
                                                            <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Description(Optional):</label>
                                                            <v-text-field
                                                                    label="Enter Description"
                                                                    single-line
                                                                    outline
                                                                    class="app-text-field right"
                                                                    style="width:100%"
                                                                    hide-details
                                                            ></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12>
                                                            <v-btn class="left ma-0 pl-1 pa-0 text-capitalize" color="primary" @click="showAddCarousel" flat depressed style="font-size:16px">
                                                                Additional Settings
                                                                <v-icon color="primary" v-if="!isAddCarousel" class="ml-2">
                                                                    keyboard_arrow_down
                                                                </v-icon>
                                                                <v-icon color="primary" v-else class="ml-2">
                                                                    keyboard_arrow_up
                                                                </v-icon>
                                                            </v-btn>
                                                        </v-flex>
                                                        <v-layout row wrap v-if="isAddCarousel" class="pl-2">
                                                            <v-flex md6 mb1>
                                                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Display Link(Optional):</label>
                                                                <v-text-field
                                                                        label="Enter DL"
                                                                        single-line
                                                                        outline
                                                                        class="app-text-field"
                                                                        style="width:100%"
                                                                        hide-details
                                                                ></v-text-field>
                                                            </v-flex>
                                                            <v-flex md6 mb1>
                                                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Link Description:</label>
                                                                <v-text-field
                                                                        label="Enter Description"
                                                                        single-line
                                                                        outline
                                                                        class="app-text-field"
                                                                        style="width:100%"
                                                                        hide-details
                                                                ></v-text-field>
                                                            </v-flex>
                                                            <v-flex md6 mb1>
                                                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">URL Params (Optional):</label>
                                                                <v-text-field
                                                                        label="Enter Params"
                                                                        single-line
                                                                        outline
                                                                        class="app-text-field"
                                                                        style="width:100%"
                                                                        hide-details
                                                                ></v-text-field>
                                                            </v-flex>
                                                            <v-flex md6 mb1>
                                                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Facebook Pixel:</label>
                                                                <v-select
                                                                        :items="listedFbPixels"
                                                                        label="Select Ad Format"
                                                                        solo
                                                                        hide-details
                                                                        outline
                                                                        flat
                                                                        class="app-text-field"
                                                                ></v-select>
                                                            </v-flex>
                                                        </v-layout>
                                                    </v-layout>
                                                </v-flex>
                                            </v-layout>

                                        </v-flex>
                                    </v-flex>
                                    <v-flex md6>
                                        <label class="text-xs-left font-weight-bold mb-2" style="display: block; font-size: 16px">Ad Preview:</label>
                                        <img src="../../images/fb-ad-sample.png" style="width: 100%;max-width: 393px;display: block;">
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </v-layout>


                        <v-btn
                                flat
                                class="appCta primary right mt-5"
                                @click="e1 = 4"
                        >
                            Continue
                            <v-icon right class="ml-1">arrow_right</v-icon>
                        </v-btn>
                    </v-card>
                </v-stepper-content>

                <v-stepper-content step="4">
                    <v-card class="mb-5" flat>
                        <v-layout row wrap class="pl-3 pt-2">
                            <v-flex md8>
                                <label class="text-xs-left mb-1 font-weight-bold" style="display: block; font-size: 16px">Placements:</label>
                                <v-radio-group v-model="radioGroup" @change="getPlacement" class="mt-0">
                                    <v-layout row wrap>
                                        <v-flex md6>
                                            <v-radio
                                                    label="Automatic Placements (Recommended)"
                                                    value="autoPlacement"
                                                    color="primary"
                                                    hide-details
                                            ></v-radio>
                                        </v-flex>
                                        <v-flex md6>
                                            <v-radio
                                                    label="Edit Placements"
                                                    value="editPlacement"
                                                    color="primary"
                                                    hide-details
                                            ></v-radio>
                                        </v-flex>
                                    </v-layout>
                                </v-radio-group>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap v-if="placements == 'editPlacement'">
                            <v-flex xs12>
                                <v-layout row wrap>
                                    <v-flex md4 mb-2>
                                        <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Device Type:</label>
                                        <v-select
                                                :items="listedDeviceType"
                                                label="Select Type"
                                                solo
                                                outline
                                                hide-details
                                                flat
                                                class="app-text-field"
                                                v-model="getDeviceType"
                                        ></v-select>
                                    </v-flex>
                                    <v-flex md4 mb-2 v-if="getDeviceType == 'Mobile'">
                                        <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Devices:</label>
                                        <v-select
                                                :items="actualDevices"
                                                label="Select Device"
                                                solo
                                                outline
                                                hide-details
                                                flat
                                                class="app-text-field"
                                        ></v-select>
                                    </v-flex>
                                    <v-flex md4 mb-2 v-if="getDeviceType == 'All Devices Type'">
                                        <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Devices:</label>
                                        <v-select
                                                :items="actualDevices"
                                                label="Select Device"
                                                solo
                                                outline
                                                hide-details
                                                flat
                                                class="app-text-field"
                                        ></v-select>
                                    </v-flex>
                                    <v-flex md4 mb-2>
                                        <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Included Device:</label>
                                        <v-combobox
                                                label="Enter Device Name"
                                                chips
                                                clearable
                                                solo
                                                multiple
                                                v-model="ContentKeywords"
                                                hide-details
                                                outline
                                                flat
                                                class="app-text-field devices-chip"
                                        >
                                            <template slot="selection" slot-scope="data">
                                                <v-chip
                                                        :selected="data.selected"
                                                        close
                                                        @input="remove(data.item)"
                                                >
                                                    <strong>{{ data.item }}</strong>&nbsp;
                                                </v-chip>
                                            </template>
                                        </v-combobox>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12>
                                <label class="text-xs-left mb-1 font-weight-bold" style="display: block; font-size: 16px">Platforms:</label>
                                <v-layout row wrap>
                                    <v-flex md3 mb1>
                                        <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Facebook:</label>
                                        <v-select
                                                :items="fbPlatform"
                                                chips
                                                label="Include Audience"
                                                multiple
                                                solo
                                                hide-details
                                                outline
                                                flat
                                                class="app-text-field"
                                        ></v-select>
                                    </v-flex>
                                    <v-flex md3 mb1>
                                        <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Instagram:</label>
                                        <v-select
                                                :items="instaPlatform"
                                                chips
                                                label="Include Audience"
                                                multiple
                                                solo
                                                hide-details
                                                outline
                                                flat
                                                class="app-text-field"
                                        ></v-select>
                                    </v-flex>
                                    <v-flex md3 mb1>
                                        <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Audience Network:</label>
                                        <v-select
                                                :items="audNetwork"
                                                chips
                                                label="Include Audience"
                                                multiple
                                                solo
                                                hide-details
                                                outline
                                                flat
                                                class="app-text-field"
                                        ></v-select>
                                    </v-flex>
                                    <v-flex md3 mb1>
                                        <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Messenger:</label>
                                        <v-select
                                                :items="messPlatform"
                                                chips
                                                label="Include Audience"
                                                multiple
                                                solo
                                                hide-details
                                                outline
                                                flat
                                                class="app-text-field"
                                        ></v-select>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </v-layout>

                        <v-btn
                                flat
                                class="appCta primary right mt-4"
                                @click="e1 = 5"
                        >
                            Continue
                            <v-icon right class="ml-1">arrow_right</v-icon>
                        </v-btn>
                    </v-card>
                </v-stepper-content>

                <v-stepper-content step="5">
                    <v-card class="mb-5" flat>

                        <v-layout row wrap>
                            <v-flex md3 mb1>
                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Budget:</label>
                                <v-select
                                        :items="listedBudget"
                                        label="Select Budget"
                                        solo
                                        outline
                                        hide-details
                                        flat
                                        class="app-text-field"
                                        v-model="selectedBudget"
                                ></v-select>
                            </v-flex>
                            <v-flex md3 mb1>
                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Amount:</label>
                                <v-text-field
                                        label="Enter Ammount"
                                        single-line
                                        outline
                                        class="app-text-field"
                                        style="width:100%"
                                        hide-details
                                ></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap>
                            <v-flex md3 mb1 v-if="selectedBudget=='Lifetime Budget'">
                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Schedule:</label>
                                <v-radio-group v-model="radioGroup" @change="getSchedule" class="mt-0">
                                    <v-layout row wrap>
                                        <v-flex md6>
                                            <v-radio
                                                    label="Run Continuously"
                                                    value="continuously "
                                                    color="primary"
                                                    hide-details
                                            ></v-radio>
                                        </v-flex>
                                        <v-flex md6>
                                            <v-radio
                                                    label="Start & End Date"
                                                    value="adWithDate"
                                                    color="primary"
                                                    hide-details
                                            ></v-radio>
                                        </v-flex>
                                    </v-layout>
                                </v-radio-group>
                            </v-flex>
                            <v-flex md3 v-if="getScheduleValue=='adWithDate'">
                                <v-layout row wrap>
                                    <v-flex xs6>
                                        <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Start Date:</label>
                                        <v-menu
                                                ref="menu"
                                                :close-on-content-click="false"
                                                v-model="menu"
                                                :nudge-right="40"
                                                :return-value.sync="date"
                                                lazy
                                                transition="scale-transition"
                                                offset-y
                                                full-width
                                                min-width="290px"
                                                class="date-menu-picker"
                                        >
                                            <v-text-field
                                                    slot="activator"
                                                    v-model="date"
                                                    prepend-icon="event"
                                                    readonly
                                            ></v-text-field>
                                            <v-date-picker v-model="date" no-title scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                                                <v-btn flat color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                                            </v-date-picker>
                                        </v-menu>
                                    </v-flex>
                                    <v-flex xs6>
                                        <label class="text-xs-left mb-1" style="display: block; font-size: 16px">End Date:</label>
                                        <v-menu
                                                ref="menu"
                                                :close-on-content-click="false"
                                                v-model="menu1"
                                                :nudge-right="40"
                                                :return-value.sync="date1"
                                                lazy
                                                transition="scale-transition"
                                                offset-y
                                                full-width
                                                min-width="290px"
                                                class="date-menu-picker"
                                        >
                                            <v-text-field
                                                    slot="activator"
                                                    v-model="date1"

                                                    prepend-icon="event"
                                                    readonly
                                            ></v-text-field>
                                            <v-date-picker v-model="date1" no-title scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn flat color="primary" @click="menu1 = false">Cancel</v-btn>
                                                <v-btn flat color="primary" @click="$refs.menu1.save(date1)">OK</v-btn>
                                            </v-date-picker>
                                        </v-menu>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap>
                            <v-flex xs12>
                                <v-btn class="left ma-0 pl-1 pa-0 text-capitalize" color="primary" @click="showAddBudget" flat depressed style="font-size:16px">
                                    Additional Settings
                                    <v-icon color="primary" v-if="!isAddBudget" class="ml-2">
                                        keyboard_arrow_down
                                    </v-icon>
                                    <v-icon color="primary" v-else class="ml-2">
                                        keyboard_arrow_up
                                    </v-icon>
                                </v-btn>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap v-if="isAddBudget">
                            <v-flex md4 mb-2>
                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Optimization of Ad Delivery:</label>
                                <v-select
                                        :items="listedAdDelivery"
                                        label="Select Ad Delivery"
                                        solo
                                        outline
                                        hide-details
                                        flat
                                        class="app-text-field"
                                        v-model="selectedDelivery"
                                ></v-select>
                            </v-flex>
                            <v-flex md3 mb-2>
                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Conversion Window:</label>
                                <v-select
                                        :items="listedWindows"
                                        label="Select Conversion"
                                        solo
                                        outline
                                        hide-details
                                        flat
                                        class="app-text-field"
                                ></v-select>
                            </v-flex>
                            <v-flex md3 mb-2 v-if="selectedDelivery == 'Conversions'">
                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Bid Strategy:</label>
                                <v-select
                                        :items="listedBidStrategy"
                                        label="Select Strategy"
                                        solo
                                        outline
                                        hide-details
                                        flat
                                        class="app-text-field"
                                        v-model="selectedBidStrategy"
                                ></v-select>
                            </v-flex>
                            <v-flex md2 mb-2 v-if="selectedDelivery == 'Conversions'">
                                <label class="text-xs-left mb-1" style="display: block; font-size: 16px">Amount:</label>
                                <v-text-field
                                        label="Enter Ammount"
                                        single-line
                                        outline
                                        class="app-text-field"
                                        style="width:100%"
                                        hide-details
                                ></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap class="mt-2">
                            <v-flex xs6 class="text-xs-left">
                                <label class="text-xs-left mb-1 font-weight-bold" style="font-size: 16px">When you are charged:</label>
                                <label class="text-xs-left mb-1" style="font-size: 16px">Impression</label>
                            </v-flex>
                        </v-layout>

                        <v-btn
                                flat
                                class="appCta success right mt-4"

                        >
                            <v-icon right class="ml-0 mr-3" >save</v-icon>
                            Save & Close
                        </v-btn>
                    </v-card>
                </v-stepper-content>
            </v-stepper-items>
        </v-stepper>
        </v-container>
    </div>
</template>

<script>
    export  default {
        data(){
            return{
                e1: 0,
                date: new Date().toISOString().substr(0, 10),
                date1: new Date().toISOString().substr(0, 10),
                menu: false,
                menu1: false,
                isAddBudget:false,
                isAddCarousel: false,
                IsExcludeTarget:false,
                isAddSettings:false,
                isAddConversion:false,
                conversionValue:'',
                radioGroup: 1,
                IsExclude:false,
                IsExcludeLoc:false,
                selectedAdFormat:'',
                placements:'',
                ContentKeywords:[],
                selectedBudget:'',
                getScheduleValue:'',
                selectedDelivery:'',
                selectedBidStrategy:'',
                listedBidStrategy:['Lowest Cost','Target Cost'],
                listedWindows:['1 Day Click','7 Day Click','1 Day Click or View','7 Day Click or 1 Day View'],
                listedAdDelivery:['Conversions','Landing Page Views','Link Clicks','Impressions','Daily Unique Reach'],
                listedBudget:['Daily Budget','Lifetime Budget'],
                fbPlatform:['Feeds','Instant Articles','Right Column','Suggested Videos','MarketPlace','Stories'],
                instaPlatform:['Feeds','Stories'],
                audNetwork:['Banner','In-Stream Videos','Rewarded Videos'],
                messPlatform:['Inbox','Stories','Sponsored Messages'],
                listedFbPixels:['FB Pixel 1','FB Pixel 2','FB Pixel 3','FB Pixel 4','FB Pixel 5'],
                ageFrom:['13','14','15','16','17','18','19','20'],
                ageTo:['13','14','15','16','17','18','19','20','20+'],
                genderListed:['All','Men','Women'],
                listedDeviceType:['Mobile','Desktop','All Devices Type'],
                getDeviceType:'',
                actualDevices:['All Devices','Andriod','IOS'],
                listedFormat:['Carousel','Single Image','Single Video'],
                listedLang:['English','Urdu','German','French','Spanish'],
                listedFbPages:['FB Page 1','FB Page 2','FB Page 3','FB Page 4','FB Page 5'],
                listedInstaAccounts:['Insta Account 1','Insta Account 2','Insta Account 3','Insta Account 4','Insta Account 5'],
                IncludeTargeting:['Include Target 1','Include Target 2','Include Target 3','Include Target 4','Include Target 5'],
                ExcludeTargeting:['Exclude Target 1','Exclude Target 2','Exclude Target 3','Exclude Target 4','Exclude Target 5'],
                IncludeAudience:['Include Aud 1','Include Aud 2','Include Aud 3','Include Aud 4','Include Aud 5','Include Aud 6','Include Aud 7','Include Aud 8'],
                ExcludeAudience:['Exclude Aud 1','Exclude Aud 2','Exclude Aud 3','Exclude Aud 4','Exclude Aud 5','Exclude Aud 6','Exclude Aud 7','Exclude Aud 8'],
                IncludeLocations:['Include Location 1','Include Location 2','Include Location 3','Include Location 4','Include Location 5'],
                ExcludeLocations:['Include Location 1','Include Location 2','Include Location 3','Include Location 4','Include Location 5'],
                whatsAppEvent:['WhatsApp Event 1','WhatsApp Event 2','WhatsApp Event 3','WhatsApp Event 4'],
                messengerEvent: ['Messenger Event 1','Messenger Event 2','Messenger Event 3','Messenger Event 4','Messenger Event 5'],
                appSelection:['App 1','App 2','App 3','App 4','App 5'],
                pixelEvent:['Pixel Event 1','Pixel Event 2','Pixel Event 3','Pixel Event 4','Pixel Event 5'],
                compObjective:['Brand Awareness','Reach','Traffic','Engagement','App Installs','Video Views','Lead Generation','Messages','Conversions','Catalog Sales','Store Visits'],
                carouselSlides:[
                    {
                        slideImage:'',
                        slideHeadline:'Chat in WhatsApp 1',
                        slideDescription:'',
                        isSelected:true
                    },
                    {
                        slideImage:'',
                        slideHeadline:'Chat in WhatsApp 2',
                        slideDescription:'',
                        isSelected:false
                    },
                    {
                        slideImage:'',
                        slideHeadline:'Chat in WhatsApp 3',
                        slideDescription:'',
                        isSelected:false
                    }
                ]
            }
        },
        methods: {
            showAddCon: function () {
                this.isAddConversion = !this.isAddConversion;
            },
            getValue: function (value) {
                this.conversionValue = value;
            },
            getPlacement : function(place){
              this.placements = place;
            },
            showExcludeAud: function () {
                this.IsExclude = !this.IsExclude;
            },
            showExcludeLoc: function () {
                this.IsExcludeLoc = !this.IsExcludeLoc;
            },
            showAddSettings: function () {
                this.isAddSettings = !this.isAddSettings;
            },
            showExcludeTarget: function () {
                this.IsExcludeTarget = !this.IsExcludeTarget;
            },
            showAddCarousel : function(){
                this.isAddCarousel = !this.isAddCarousel;
            },
            makeActiveSlide: function (slideNo) {
                for (var i = 0; i < this.carouselSlides.length; i++) {
                    this.carouselSlides[i].isSelected = false;
                }
                this.carouselSlides[slideNo].isSelected = true;
            },
            addCarouselSlide: function () {
                    if(this.carouselSlides.length < 10){
                        this.carouselSlides.push({
                            slideImage: '',
                            slideHeadline:'Chat in WhatsApp',
                            slideDescription:'',
                            isSelected:false
                        });
                    }
            },
            removeCarouselSlide: function (slideNo) {
                this.carouselSlides.splice(slideNo,1);
                if(slideNo == 0){
                    this.carouselSlides[slideNo].isSelected = true
                }else{
                    this.carouselSlides[slideNo - 1].isSelected = true
                }
            },
            remove (item) {
                this.ContentKeywords.splice(this.ContentKeywords.indexOf(item), 1);
                this.ContentKeywords = [...this.ContentKeywords]
            },
            getSchedule : function (schedule) {
                this.getScheduleValue = schedule;
            },
            showAddBudget: function () {
                this.isAddBudget = !this.isAddBudget;
            }

        },
        computed : {
            bothDevices : function () {

            }
        }
    }
</script>