<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex md6>
                <v-card flat>
                    <v-card-text class="px-0">
                        <h1 class="text-xs-left">Manage Rules</h1>
                        <p class="text-xs-left"><strong>(Optional) Advanced marketer? Use these settings to get more out of Trackify!</strong></p>
                        <p class="text-xs-left">Note: We recommend that you keep the default settings here, unless you fully understand the effects of any changes you make. Please watch the Advanced Settings Video, and ask any questions in our chat!</p>
                    </v-card-text>
                </v-card>
                <v-flex xs1 class="adSettings sprint-tooltip setting-tip" pt-5>
                    <v-tooltip bottom color="orange darken-2">
                        <v-icon
                                slot="activator"
                                color="orange darken-2"
                                dark
                        >whatshot</v-icon>
                        <span>You can create a sprint to promote your best-selling products, a specific collection or ones with a specific tag!</span>
                    </v-tooltip>
                    <v-btn icon @click="" class="mt-0"><v-icon color="blue darken-1">school</v-icon></v-btn>
                </v-flex>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card flat>
                    <v-card-text class="pa-0">
                        <v-layout row wrap>
                            <v-flex xs12 class="text-xs-left ninga-settings">

                                <v-expansion-panel>
                                    <v-expansion-panel-content ripple class="exp-body">
                                        <div slot="header">Ad Account 1</div>
                                        <v-card class="pa-4 listed-rules">
                                            <v-card-text class="pb-0 pt-4 px-4">
                                                <v-layout row wrap>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Rule Name:</label>
                                                        <v-text-field
                                                                value="CPC > $10"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Campaign Type:</label>
                                                        <v-text-field
                                                                value="Name of Type"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Level:</label>
                                                        <v-text-field
                                                                value="Adset"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Exclude:</label>
                                                        <v-text-field
                                                                value="TA-Ignore"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Last Edited:</label>
                                                        <v-text-field
                                                                value="Never"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Description:</label>
                                                        <v-textarea
                                                                value="If CPC is greater than $10 kill adset ....."
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Trigger:</label>
                                                        <v-textarea
                                                                value="If on any adset { spend is greater than $10 & cost per lead is less than $5 &.. }"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Actions:</label>
                                                        <v-layout row wrap>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-switch
                                                                        v-model="switch1"
                                                                        class="action-switch"
                                                                        color="primary"
                                                                ></v-switch>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>edit</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>delete</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                        </v-layout>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                        </v-card>
                                        <v-card class="pa-4 listed-rules">
                                            <v-card-text class="pb-0 pt-4 px-4">
                                                <v-layout row wrap>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Rule Name:</label>
                                                        <v-text-field
                                                                value="CPC > $10"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Campaign Type:</label>
                                                        <v-text-field
                                                                value="Name of Type"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Level:</label>
                                                        <v-text-field
                                                                value="Adset"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Exclude:</label>
                                                        <v-text-field
                                                                value="TA-Ignore"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Last Edited:</label>
                                                        <v-text-field
                                                                value="Never"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Description:</label>
                                                        <v-textarea
                                                                value="If CPC is greater than $10 kill adset ....."
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Trigger:</label>
                                                        <v-textarea
                                                                value="If on any adset { spend is greater than $10 & cost per lead is less than $5 &.. }"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Actions:</label>
                                                        <v-layout row wrap>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-switch
                                                                        v-model="switch1"
                                                                        class="action-switch"
                                                                        color="primary"
                                                                ></v-switch>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>edit</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>delete</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                        </v-layout>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                        </v-card>
                                        <v-card class="pa-4 listed-rules">
                                            <v-card-text class="pb-0 pt-4 px-4">
                                                <v-layout row wrap>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Rule Name:</label>
                                                        <v-text-field
                                                                value="CPC > $10"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Campaign Type:</label>
                                                        <v-text-field
                                                                value="Name of Type"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Level:</label>
                                                        <v-text-field
                                                                value="Adset"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Exclude:</label>
                                                        <v-text-field
                                                                value="TA-Ignore"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Last Edited:</label>
                                                        <v-text-field
                                                                value="Never"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Description:</label>
                                                        <v-textarea
                                                                value="If CPC is greater than $10 kill adset ....."
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Trigger:</label>
                                                        <v-textarea
                                                                value="If on any adset { spend is greater than $10 & cost per lead is less than $5 &.. }"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Actions:</label>
                                                        <v-layout row wrap>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-switch
                                                                        v-model="switch1"
                                                                        class="action-switch"
                                                                        color="primary"
                                                                ></v-switch>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>edit</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>delete</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                        </v-layout>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                        </v-card>
                                    </v-expansion-panel-content>
                                    <v-expansion-panel-content class="exp-body">
                                        <div slot="header">Ad Account 2</div>
                                        <v-card class="pa-4 listed-rules">
                                            <v-card-text class="pb-0 pt-4 px-4">
                                                <v-layout row wrap>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Rule Name:</label>
                                                        <v-text-field
                                                                value="CPC > $10"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Campaign Type:</label>
                                                        <v-text-field
                                                                value="Name of Type"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Level:</label>
                                                        <v-text-field
                                                                value="Adset"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Exclude:</label>
                                                        <v-text-field
                                                                value="TA-Ignore"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Last Edited:</label>
                                                        <v-text-field
                                                                value="Never"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Description:</label>
                                                        <v-textarea
                                                                value="If CPC is greater than $10 kill adset ....."
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Trigger:</label>
                                                        <v-textarea
                                                                value="If on any adset { spend is greater than $10 & cost per lead is less than $5 &.. }"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Actions:</label>
                                                        <v-layout row wrap>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-switch
                                                                        v-model="switch1"
                                                                        class="action-switch"
                                                                        color="primary"
                                                                ></v-switch>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>edit</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>delete</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                        </v-layout>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                        </v-card>
                                        <v-card class="pa-4 listed-rules">
                                            <v-card-text class="pb-0 pt-4 px-4">
                                                <v-layout row wrap>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Rule Name:</label>
                                                        <v-text-field
                                                                value="CPC > $10"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Campaign Type:</label>
                                                        <v-text-field
                                                                value="Name of Type"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Level:</label>
                                                        <v-text-field
                                                                value="Adset"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Exclude:</label>
                                                        <v-text-field
                                                                value="TA-Ignore"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Last Edited:</label>
                                                        <v-text-field
                                                                value="Never"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Description:</label>
                                                        <v-textarea
                                                                value="If CPC is greater than $10 kill adset ....."
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Trigger:</label>
                                                        <v-textarea
                                                                value="If on any adset { spend is greater than $10 & cost per lead is less than $5 &.. }"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Actions:</label>
                                                        <v-layout row wrap>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-switch
                                                                        v-model="switch1"
                                                                        class="action-switch"
                                                                        color="primary"
                                                                ></v-switch>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>edit</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>delete</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                        </v-layout>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                        </v-card>
                                        <v-card class="pa-4 listed-rules">
                                            <v-card-text class="pb-0 pt-4 px-4">
                                                <v-layout row wrap>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Rule Name:</label>
                                                        <v-text-field
                                                                value="CPC > $10"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Campaign Type:</label>
                                                        <v-text-field
                                                                value="Name of Type"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Level:</label>
                                                        <v-text-field
                                                                value="Adset"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Exclude:</label>
                                                        <v-text-field
                                                                value="TA-Ignore"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Last Edited:</label>
                                                        <v-text-field
                                                                value="Never"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Description:</label>
                                                        <v-textarea
                                                                value="If CPC is greater than $10 kill adset ....."
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Trigger:</label>
                                                        <v-textarea
                                                                value="If on any adset { spend is greater than $10 & cost per lead is less than $5 &.. }"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Actions:</label>
                                                        <v-layout row wrap>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-switch
                                                                        v-model="switch1"
                                                                        class="action-switch"
                                                                        color="primary"
                                                                ></v-switch>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>edit</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>delete</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                        </v-layout>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                        </v-card>
                                    </v-expansion-panel-content>
                                    <v-expansion-panel-content class="exp-body">
                                        <div slot="header">Ad Account 3</div>
                                        <v-card class="pa-4 listed-rules">
                                            <v-card-text class="pb-0 pt-4 px-4">
                                                <v-layout row wrap>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Rule Name:</label>
                                                        <v-text-field
                                                                value="CPC > $10"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Campaign Type:</label>
                                                        <v-text-field
                                                                value="Name of Type"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Level:</label>
                                                        <v-text-field
                                                                value="Adset"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Exclude:</label>
                                                        <v-text-field
                                                                value="TA-Ignore"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Last Edited:</label>
                                                        <v-text-field
                                                                value="Never"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Description:</label>
                                                        <v-textarea
                                                                value="If CPC is greater than $10 kill adset ....."
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Trigger:</label>
                                                        <v-textarea
                                                                value="If on any adset { spend is greater than $10 & cost per lead is less than $5 &.. }"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Actions:</label>
                                                        <v-layout row wrap>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-switch
                                                                        v-model="switch1"
                                                                        class="action-switch"
                                                                        color="primary"
                                                                ></v-switch>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>edit</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>delete</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                        </v-layout>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                        </v-card>
                                        <v-card class="pa-4 listed-rules">
                                            <v-card-text class="pb-0 pt-4 px-4">
                                                <v-layout row wrap>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Rule Name:</label>
                                                        <v-text-field
                                                                value="CPC > $10"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Campaign Type:</label>
                                                        <v-text-field
                                                                value="Name of Type"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Level:</label>
                                                        <v-text-field
                                                                value="Adset"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Exclude:</label>
                                                        <v-text-field
                                                                value="TA-Ignore"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Last Edited:</label>
                                                        <v-text-field
                                                                value="Never"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Description:</label>
                                                        <v-textarea
                                                                value="If CPC is greater than $10 kill adset ....."
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Trigger:</label>
                                                        <v-textarea
                                                                value="If on any adset { spend is greater than $10 & cost per lead is less than $5 &.. }"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Actions:</label>
                                                        <v-layout row wrap>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-switch
                                                                        v-model="switch1"
                                                                        class="action-switch"
                                                                        color="primary"
                                                                ></v-switch>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>edit</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>delete</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                        </v-layout>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                        </v-card>
                                        <v-card class="pa-4 listed-rules">
                                            <v-card-text class="pb-0 pt-4 px-4">
                                                <v-layout row wrap>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Rule Name:</label>
                                                        <v-text-field
                                                                value="CPC > $10"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md3>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Campaign Type:</label>
                                                        <v-text-field
                                                                value="Name of Type"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Level:</label>
                                                        <v-text-field
                                                                value="Adset"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Exclude:</label>
                                                        <v-text-field
                                                                value="TA-Ignore"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Last Edited:</label>
                                                        <v-text-field
                                                                value="Never"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                        ></v-text-field>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Description:</label>
                                                        <v-textarea
                                                                value="If CPC is greater than $10 kill adset ....."
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md4>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Trigger:</label>
                                                        <v-textarea
                                                                value="If on any adset { spend is greater than $10 & cost per lead is less than $5 &.. }"
                                                                single-line
                                                                outline
                                                                class="app-text-field right"
                                                                style="width:100%"
                                                                readonly
                                                                rows="3"
                                                        ></v-textarea>
                                                    </v-flex>
                                                    <v-flex md2>
                                                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Actions:</label>
                                                        <v-layout row wrap>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-switch
                                                                        v-model="switch1"
                                                                        class="action-switch"
                                                                        color="primary"
                                                                ></v-switch>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>edit</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                            <v-flex sm4 d-flex align-center>
                                                                <v-btn icon>
                                                                    <v-icon>delete</v-icon>
                                                                </v-btn>
                                                            </v-flex>
                                                        </v-layout>
                                                    </v-flex>
                                                </v-layout>
                                            </v-card-text>
                                        </v-card>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>

                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data(){
            return{
                switch1: true,
            }
        },
        created () {

        },
        methods: {

        }
    }
</script>