<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex md6>
                <v-card flat>
                    <v-card-text class="px-0">
                        <h1 class="text-xs-left">Remarketing Rules</h1>
                        <p class="text-xs-left"><strong>(Optional) Any Sub heading goes here anything anything
                            anything</strong></p>
                    </v-card-text>
                </v-card>
                <v-flex xs1 class="adSettings sprint-tooltip setting-tip" pt-5>
                    <v-tooltip bottom color="orange darken-2">
                        <v-icon
                                slot="activator"
                                color="orange darken-2"
                                dark
                        >whatshot
                        </v-icon>
                        <span>You can create a sprint to promote your best-selling products, a specific collection or ones with a specific tag!</span>
                    </v-tooltip>
                    <v-btn icon @click="" class="mt-0">
                        <v-icon color="blue darken-1">school</v-icon>
                    </v-btn>
                </v-flex>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex md4>
                <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Rule Name:</label>
                <v-text-field
                        label="Enter Name"
                        single-line
                        outline
                        class="app-text-field right"
                        style="width:100%"
                ></v-text-field>
            </v-flex>
            <v-flex md4 mb-3>
                <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Advertising:</label>
                <v-combobox
                        :items="advertising"
                        label="Select Store"
                        solo
                        outline
                        hide-details
                        flat
                        class="app-text-field"
                ></v-combobox>
            </v-flex>
            <v-flex md4 mb-3>
                <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Ad Level:</label>
                <v-select
                        :items="adsLevel"
                        label="Select Level"
                        solo
                        outline
                        hide-details
                        flat
                        class="app-text-field"
                ></v-select>
            </v-flex>
            <v-flex md4 mb-3>
                <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Ad Status:</label>
                <v-select
                        :items="status"
                        label="Select Status"
                        solo
                        outline
                        hide-details
                        flat
                        class="app-text-field"
                ></v-select>
            </v-flex>
            <v-flex md4 mb-3>
                <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Time Period:</label>
                <v-select
                        :items="timePeriod"
                        label="Select Status"
                        solo
                        outline
                        hide-details
                        flat
                        class="app-text-field"
                        v-model="timeKey"
                ></v-select>
            </v-flex>
            <v-flex md2 mb-3 v-if="timeKey=='Hourly'">
                <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Select Hours:</label>
                <v-layout row wrap>
                    <v-flex xs8 py-0>
                        <v-select
                                :items="hoursTime"
                                label="Select hours"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                        ></v-select>
                    </v-flex>
                    <v-flex xs4 d-flex align-center>
                        <h4>Hour(s)</h4>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex md2 mb-3 v-if="timeKey=='Daily'">
                <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Select Days:</label>
                <v-layout row wrap>
                    <v-flex xs8 py-0>
                        <v-select
                                :items="daysTime"
                                label="Select Days"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                        ></v-select>
                    </v-flex>
                    <v-flex xs4 d-flex align-center>
                        <h4>Day(s)</h4>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex md2 mb-3 v-if="timeKey=='Weekly'">
                <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Select Weeks:</label>
                <v-layout row wrap>
                    <v-flex xs8 py-0>
                        <v-select
                                :items="weeksTime"
                                label="Select Week"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                        ></v-select>
                    </v-flex>
                    <v-flex xs4 d-flex align-center>
                        <h4>Week(s)</h4>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex xs12>
                <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Day Parting (24 HR
                    Format):</label>
                <v-layout row wrap>
                    <v-flex md4 py-0>
                        <v-text-field
                                label="Exclude by Compaign/adset Name"
                                single-line
                                outline
                                class="app-text-field right"
                                style="width:100%"
                        ></v-text-field>
                    </v-flex>
                    <v-flex md4 py-0>
                        <v-text-field
                                label="Include by Compaign/adset Name"
                                single-line
                                outline
                                class="app-text-field right"
                                style="width:100%"
                        ></v-text-field>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex md8>
                <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Rule Discription:</label>
                <v-textarea
                        solo
                        name="input-7-4"
                        label="Solo textarea"
                        placeholder="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                        single-line
                        outline
                        class="app-text-field right"
                        row="10"
                        style="width:100%"
                        no-resize
                        flat
                ></v-textarea>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card flat>
                    <v-card-text class="pa-0">
                        <h1 class="text-xs-left">Actions</h1>
                        <p class="text-xs-left"><strong>(Optional) Any Sub heading goes here anything anything
                            anything</strong></p>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex md3 mb-3>
                <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Select Action:</label>
                <v-select
                        :items="listedActions"
                        label="Listed Actions"
                        solo
                        outline
                        hide-details
                        flat
                        class="app-text-field"
                        v-model="actionKey"
                ></v-select>
            </v-flex>
            <v-flex md9 v-if="actionKey=='Duplication'">
                <v-layout row wrap>
                    <v-flex md3 mb-3>
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">No of
                            Duplicate:</label>
                        <v-select
                                :items="noDuplicates"
                                label="Select Number"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                                v-model="duplicateKey"
                        ></v-select>
                    </v-flex>
                    <v-flex md3 mb-3 v-if="duplicateKey">
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Campaign Level:</label>
                        <v-select
                                :items="campaignLevel"
                                label="Select Level"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                                v-model="parentKey"
                        ></v-select>
                    </v-flex>
                    <v-flex md3 mb-3 v-if="parentKey">
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Budget for
                            Duplicate:</label>
                        <v-text-field
                                label="Enter Budget"
                                single-line
                                outline
                                class="app-text-field right"
                                style="width:100%"
                        ></v-text-field>
                    </v-flex>
                    <v-flex md3 mb-3 v-if="parentKey">
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Select Hours:</label>
                        <v-layout row wrap>
                            <v-flex xs8 py-0>
                                <v-select
                                        :items="hoursTime"
                                        label="Select hours"
                                        solo
                                        outline
                                        hide-details
                                        flat
                                        class="app-text-field"
                                ></v-select>
                            </v-flex>
                            <v-flex xs4 d-flex align-center>
                                <h4>Hour(s)</h4>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex md9 class="duplication-content" v-if="actionKey=='Break-Down'">
                <v-layout row wrap>
                    <v-flex md3 mb-3>
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Age Range:</label>
                        <v-select
                                :items="ageRange"
                                label="Select Range"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                                v-model="ageRangeKey"
                        ></v-select>
                    </v-flex>
                    <v-flex md3 mb-3 v-if="ageRangeKey">
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Select Gender:</label>
                        <v-select
                                :items="gender"
                                label="Select Gender"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                        ></v-select>
                    </v-flex>
                    <v-flex md3 mb-3 v-if="ageRangeKey">
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Select Region:</label>
                        <v-select
                                :items="listedRegions"
                                label="Select Region"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                        ></v-select>
                    </v-flex>
                    <v-flex md3 mb-3 v-if="ageRangeKey">
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Select Devices:</label>
                        <v-select
                                :items="listedDevices"
                                label="Select Device"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                        ></v-select>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex md9 class="duplication-content" v-if="actionKey=='Status'">
                <v-layout row wrap>
                    <v-flex md4 mb-3>
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Select Status:</label>
                        <v-select
                                :items="status"
                                label="Listed Status"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                        ></v-select>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex md9 class="duplication-content" v-if="actionKey=='Budget'">
                <v-layout row wrap>
                    <v-flex md4 mb-3>
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Budget Level:</label>
                        <v-select
                                :items="budgetLevel"
                                label="Select Level"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                                v-model="budgetKey"
                        ></v-select>
                    </v-flex>
                    <v-flex md4 mb-3 v-if="budgetKey">
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Amount:</label>
                        <v-text-field
                                label="Enter Amount"
                                single-line
                                outline
                                class="app-text-field right"
                                style="width:100%"
                        ></v-text-field>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex md9 class="duplication-content" v-if="actionKey=='Manual Bidding'">
                <v-layout row wrap>
                    <v-flex md3 mb-3>
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Bid Level:</label>
                        <v-select
                                :items="budgetLevel"
                                label="Select Level"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                                v-model="bidKey"
                        ></v-select>
                    </v-flex>
                    <v-flex md3 mb-3 v-if="bidKey">
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Amount:</label>
                        <v-text-field
                                label="Enter Amount"
                                single-line
                                outline
                                class="app-text-field right"
                                style="width:100%"
                        ></v-text-field>
                    </v-flex>
                    <v-flex md3 mb-3 v-if="bidKey">
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Target Cost:</label>
                        <v-text-field
                                label="Enter Target Cost"
                                single-line
                                outline
                                class="app-text-field right"
                                style="width:100%"
                        ></v-text-field>
                    </v-flex>
                    <v-flex md3 mb-3 v-if="bidKey">
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Lowest Cost:</label>
                        <v-text-field
                                label="Enter Lowest Cost"
                                single-line
                                outline
                                class="app-text-field right"
                                style="width:100%"
                        ></v-text-field>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex md9 class="duplication-content" v-if="actionKey=='Scheduling'">
                <v-layout row wrap>
                    <v-flex md4 mb-3>
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Select
                            Date/Time:</label>
                        <v-dialog
                                ref="dialog"
                                v-model="modal"
                                :return-value.sync="date"
                                persistent
                                lazy
                                full-width
                                width="290px"
                        >
                            <v-text-field
                                    slot="activator"
                                    v-model="date"
                                    label="Schedule Ad"
                                    prepend-icon="event"
                                    readonly
                                    single-line
                                    outline
                                    class="datepicker-field"
                                    style="width:100%"
                                    hide-details="true"
                            ></v-text-field>
                            <v-date-picker v-model="date" scrollable>
                                <v-spacer></v-spacer>
                                <v-btn flat color="primary" @click="modal = false">Cancel</v-btn>
                                <v-btn flat color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
                            </v-date-picker>
                        </v-dialog>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex md9 class="duplication-content" v-if="actionKey=='Alert'">
                <v-layout row wrap>
                    <v-flex md4 mb-3>
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Email Address:</label>
                        <v-text-field
                                label="Enter Email Address"
                                single-line
                                outline
                                class="app-text-field right"
                                style="width:100%"
                        ></v-text-field>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex md9 class="duplication-content" v-if="actionKey=='Add Tag'">
                <v-layout row wrap>
                    <v-flex md6 mb-3>
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Tag Position:</label>
                        <v-select
                                :items="tagPosition"
                                label="Select Position"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                                v-model="addTagPositionKey"
                        ></v-select>
                    </v-flex>
                    <v-flex md6 mb-3 v-if="addTagPositionKey">
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Tag Name:</label>
                        <v-text-field
                                label="Enter Name"
                                single-line
                                outline
                                class="app-text-field right"
                                style="width:100%"
                        ></v-text-field>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex md9 class="duplication-content" v-if="actionKey=='Delete Tag'">
                <v-layout row wrap>
                    <v-flex md6 mb-3>
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Tag Position:</label>
                        <v-select
                                :items="tagPosition"
                                label="Select Position"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                                v-model="deleteTagPositionKey"
                        ></v-select>
                    </v-flex>
                    <v-flex md6 mb-3 v-if="deleteTagPositionKey">
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Tag Name:</label>
                        <v-text-field
                                label="Enter Name"
                                single-line
                                outline
                                class="app-text-field right"
                                style="width:100%"
                        ></v-text-field>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex md9 class="duplication-content" v-if="actionKey=='Change Name'">
                <v-layout row wrap>
                    <v-flex md6 mb-3>
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Tag Position:</label>
                        <v-select
                                :items="tagPosition"
                                label="Select Position"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                                v-model="changeTagPositionKey"
                        ></v-select>
                    </v-flex>
                    <v-flex md6 mb-3 v-if="changeTagPositionKey">
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Tag Name:</label>
                        <v-text-field
                                label="Enter Name"
                                single-line
                                outline
                                class="app-text-field right"
                                style="width:100%"
                        ></v-text-field>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>

        <v-layout row wrap>
            <v-flex xs12>
                <v-card flat>
                    <v-card-text class="pa-0">
                        <h1 class="text-xs-left">Trigger/Rules</h1>
                        <p class="text-xs-left"><strong>(Optional) Any Sub heading goes here anything anything
                            anything</strong></p>
                    </v-card-text>
                </v-card>
            </v-flex>

            <v-flex md3 mb-3>
                <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Select Rule:</label>
                <v-select
                        :items="listedRules"
                        label="Listed Rule"
                        solo
                        outline
                        hide-details
                        flat
                        class="app-text-field"
                        v-model="ruleKey"
                        @input="assignValue"
                ></v-select>
            </v-flex>

            <v-flex md9>
                <v-layout row wrap v-if="val.type=='dropdown'">
                    <v-flex md3 mb-3>
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Condition:</label>
                        <v-select
                                :items="listedConditions"
                                label="Listed Rule"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                        ></v-select>
                    </v-flex>
                    <v-flex md3 mb-3>
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">{{val.fieldText}}:</label>
                        <v-text-field
                                :label="'Enter '+val.fieldText"
                                single-line
                                outline
                                class="app-text-field right"
                                style="width:100%"
                        ></v-text-field>
                    </v-flex>
                    <v-flex md3 mb-3>
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Select Frequency:</label>
                        <v-select
                                :items="timePeriod"
                                label="Listed Rule"
                                solo
                                outline
                                hide-details
                                flat
                                class="app-text-field"
                                v-model="frequencyKey"
                        ></v-select>
                    </v-flex>
                    <v-flex md3 mb-3 v-if="frequencyKey=='Hourly'">
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Select Hours:</label>
                        <v-layout row wrap>
                            <v-flex xs8 py-0>
                                <v-select
                                        :items="hoursTime"
                                        label="Select hours"
                                        solo
                                        outline
                                        hide-details
                                        flat
                                        class="app-text-field"
                                ></v-select>
                            </v-flex>
                            <v-flex xs4 d-flex align-center>
                                <h4>Hour(s)</h4>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex md3 mb-3 v-if="frequencyKey=='Daily'">
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Select Days:</label>
                        <v-layout row wrap>
                            <v-flex xs8 py-0>
                                <v-select
                                        :items="daysTime"
                                        label="Select Days"
                                        solo
                                        outline
                                        hide-details
                                        flat
                                        class="app-text-field"
                                ></v-select>
                            </v-flex>
                            <v-flex xs4 d-flex align-center>
                                <h4>Day(s)</h4>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex md3 mb-3 v-if="frequencyKey=='Weekly'">
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Select Weeks:</label>
                        <v-layout row wrap>
                            <v-flex xs8 py-0>
                                <v-select
                                        :items="weeksTime"
                                        label="Select Week"
                                        solo
                                        outline
                                        hide-details
                                        flat
                                        class="app-text-field"
                                ></v-select>
                            </v-flex>
                            <v-flex xs4 d-flex align-center>
                                <h4>Week(s)</h4>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
                <v-layout row wrap v-if="val.type=='dateTime'">
                    <v-flex md4 mb-3>
                        <label class="text-xs-left mb-2" style="display: block; font-size: 16px">Select
                            Date/Time:</label>
                        <v-dialog
                                ref="dialog"
                                v-model="modal"
                                :return-value.sync="date"
                                persistent
                                lazy
                                full-width
                                width="290px"
                        >
                            <v-text-field
                                    slot="activator"
                                    v-model="date"
                                    label="Schedule Ad"
                                    prepend-icon="event"
                                    readonly
                                    single-line
                                    outline
                                    class="datepicker-field"
                                    style="width:100%"
                                    hide-details="true"
                            ></v-text-field>
                            <v-date-picker v-model="date" scrollable>
                                <v-spacer></v-spacer>
                                <v-btn flat color="primary" @click="modal = false">Cancel</v-btn>
                                <v-btn flat color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
                            </v-date-picker>
                        </v-dialog>
                    </v-flex>
                </v-layout>
            </v-flex>

        </v-layout>

    </v-container>
</template>

<script>

    import values from "../config/values.json";

    export default {
        data() {
            return {
                timeKey: '',
                actionKey: '',
                duplicateKey: '',
                parentKey: '',
                ageRangeKey: '',
                budgetKey: '',
                bidKey: '',
                addTagPositionKey: '',
                deleteTagPositionKey: '',
                changeTagPositionKey: '',
                ruleKey: '',
                val: '',
                modal: false,
                frequencyKey:'',
                date: new Date().toISOString().substr(0, 10),
                advertising: ['Ad Account Fetched from Facebook'],
                adsLevel: ['Adset Level', 'Ad Level'],
                status: ['Active', 'In-Active', 'In-Review', 'Scheduled'],
                timePeriod: ['Hourly', 'Daily', 'Weekly'],
                hoursTime: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
                daysTime: ['1', '2', '3', '4', '5', '6', '7'],
                weeksTime: ['1', '2', '3', '4'],
                listedActions: ['Duplication', 'Break-Down', 'Status', 'Budget', 'Manual Bidding', 'Scheduling', 'Alert', 'Add Tag', 'Delete Tag', 'Change Name'],
                noDuplicates: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25'],
                campaignLevel: ['Child', 'Parent'],
                ageRange: ['14-21', '22-31', '32-41', '42-51', '51-Above'],
                gender: ['Male', 'Female'],
                listedRegions: ['Canada', 'USA', 'Pakistan', 'South Africa', 'Asia', 'Australia'],
                listedDevices: ['Desktop', 'Tablet', 'Mobile'],
                budgetLevel: ['Increase', 'Decrease'],
                tagPosition: ['Campaign', 'Adset', 'Ad'],
                listedRules: ["Amount Spent", "Cost Per Result", "Website ROI", "Link Clicks", "Cost Per Click", "Click Through Rate", "Impressions", "Reach", "View Content", "Cost Per View Content", "Add To Cart", "Cost Per Add To Cart", "Initiate Checkout", "Cost Per Inititate Checkout", "Purhcase", "Cost Per Purchase", "Searches", "Cost Per Search", "Leads", "Cost Per Lead", "Registrations Completed", "Cost Per Registration", "Add to Wishlist", "Cost Per Add to Wishlist", "Add to PaymentInfo", "Cost Per Paymentinfo", "Post Engagment","Cost Per Post Engagement", "Video Views", "App Installs", "App Views", "Cost Per Action", "Unique Clicks", "Date & TIme","ROAS","CPM","Lifetime Impression","Unique clicks","Cost Per Unique clicks","Today Spent","Yesterday Spent","Post Likes","Post Comments","3 Sec Video Views","10 Sec Video Views","25% Video Views","50% Video Views","75% Video Views","95% VIdeo Views","100% Video Views","Cost Per 3 Sec Video Views","Cost Per 10 Sec Video Views","Cost Per 25% Video Views","Cost Per 50% Video Views","Cost Per 75% Video Views","Cost Per 95% VIdeo Views","Cost Per 100% Video Views","New Messages","Cost Per New Messages"],
                listedConditions: ['Is greater than', 'Is greater than equal to', 'Is equal to', 'Is less than', 'Is less than equal to'],
                content: values
            }
        },
        created() {

        },
        methods: {
            assignValue() {
                this.val = this.content[this.ruleKey];
            }
        },
        computed: {}
    }
</script>