<template>
    <v-container grid-list-md text-xs-center class="pa-0 pb-5">
        <v-layout row wrap>
            <v-flex xs12>
                <h3 class="text-xs-left">Social Configuration</h3>
            </v-flex>
            <v-flex sm12>
                <v-card flat>
                    <v-layout row wrap class="inner-config-heading">
                        <v-flex xs1>
                            <v-card-text class="icon-header">
                                <i class="material-icons orange--text text--darken-2">
                                    share
                                </i>
                            </v-card-text>
                        </v-flex>
                        <v-flex xs11>
                            <v-card-text class="text-xs-left head-portion">
                                Connect Your Social Networks
                            </v-card-text>
                            <v-card-text class="pt-2 pl-2 pb-0">
                                <v-layout row wrap class="connect-store">
                                    <v-flex xs6 sm2 v-for="(social,index) in listedSocial" :key="index">
                                        <v-btn flat>
                                            <img :src="social.logo">
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                        </v-flex>
                    </v-layout>
                </v-card>
            </v-flex>
            <v-flex sm12>
                <v-card flat>
                    <v-layout row wrap class="inner-config-heading">
                        <v-flex xs1>
                            <v-card-text class="icon-header">
                                <i class="material-icons orange--text text--darken-2">
                                    store
                                </i>
                            </v-card-text>
                        </v-flex>
                        <v-flex xs11>
                            <v-card-text class="text-xs-left head-portion">
                                Third Party Integrations
                            </v-card-text>
                            <v-card-text class="pt-2 pl-2 pb-0">
                                <v-layout row wrap class="connect-store">
                                    <v-flex xs6 sm2 v-for="(stores,index) in listedStores" :key="index">
                                        <v-btn flat :href="stores.articleLink" target="_blank">
                                            <img :src="stores.logo">
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                        </v-flex>
                    </v-layout>
                </v-card>
            </v-flex>
            <v-flex offset-xs1 xs10>
                <v-btn class="ml-3 left" depressed color="primary" @click="snackbar = true">Save Settings</v-btn>
                <v-snackbar
                        color="primary"
                        v-model="snackbar"
                        bottom
                >
                    Settings has been saved!
                    <v-btn
                            class="pt-0 pb-0"
                            color="primary--text"
                            flat
                            @click="snackbar = false"
                    >
                        Close
                    </v-btn>
                </v-snackbar>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                snackbar : false,
                activator: null,
                listedStores: [
                    {
                        logo: '../public/images/shopify-logo.png',
                        articleLink: 'https://www.shopify.com'
                    },
                ],
                listedSocial: [
                    {
                        logo: '../public/images/fb-logo.png'
                    }
                ]
            }
        }
    }
</script>